* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --COLOR-ACCENT: #212020;
  --COLOR-PRIMARY: #3b4d4c;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('./img/bgBright.png');
  color: var(--COLOR-PRIMARY);
}

body.error {
  background-image: url('./img/bgDark.png');
}

.wrapper {
  width: 50%;
  min-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #88cedf8f;
  box-shadow: 0px 0px 5px #96d7ef;
  backdrop-filter: blur(3px);
  border-radius: 0.75rem;
  padding: 1rem;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  color: var(--COLOR-ACCENT);
  width: 70%;
}

ul.navigator {
  display: flex;
  justify-content: center;
  gap: 30%;
  padding: 0;
}

ul.navigator > li {
  list-style: none;
  padding: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
}

ul.navigator > li:has(a:hover) {
  background-color: #62a6be;
  border-color: transparent;
}

.hover {
  border: solid #467485 2px;
}

a {
  text-decoration: none;
  color: var(--COLOR-PRIMARY);
}

a:hover {
  color: white;
}

#model {
  height: 40vh;
  width: 60%;
  cursor: grab;
}

p,
a {
  font-size: 1.25rem;
}

p {
  text-align: left;
}

img {
  width: 40%;
}

img.map {
  width: 70%;
}
